server:
  port: 8088
  error:
    include-message: always

spring:
  application:
    name: projetDispenses2526
  security:
    user:
      name: admin
      password: admin123

  datasource:
    url: jdbc:h2:mem:exempt;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    show-sql: false
  h2:
    console:
      enabled: true
      path: /h2-console
  ai:
    openai:
      # Met une clé factice pour calmer l’auto-config si besoin
      api-key: "disabled-for-dev"
      # Et coupe explicitement les modules qu’on n’utilise pas
      chat:
        enabled: false
      image:
        enabled: false
      speech:
        enabled: false
logging:
  level:
    org.springframework.web: info
